<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>https://c.runoob.com/wp-content/uploads/2017/01/btotbhpudiagtmvlkyrs.jpg</string>
	<string>http://m.imeitou.com/uploads/allimg/2016072417/tpgpw4nmqvv.gif</string>
	<string>http://gss0.baidu.com/-fo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/aec379310a55b31905caba3b43a98226cffc1748.jpg</string>
</array>
</plist>
